<!-- Add the rest of your product details component's HTML code here -->
<div class="container">
    <div class="product-details">
        <h2 class="product-name">Advil</h2>
        <img src="https://www.grxstatic.com/d4fuqqd5l3dbz/products/cwf_tms/DrugItem_11585.PNG?width=89&quality=89" alt="Dummy Drug Name" class="product-image" />
        <h5><strong>Description:</strong></h5>
        <p>
            pain reliever that contains the active ingredient ibuprofen. Ibuprofen is a nonsteroidal anti-inflammatory drug (NSAID) that is commonly used to relieve mild to moderate pain, fever, and inflammation. Advil is often used to treat headaches, menstrual
            cramps, muscle aches, toothaches, arthritis,
        </p>
    </div>
</div>