<div class="container-fluid">
    <header class="header">
        <div class="header-top row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/">Medfast</a>
                </div>
            </div>
            <div class="col-md-9">
                <nav class="main-nav">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="/products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Services</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>