<div *ngIf="MedicineListResult.length === 0">
    <p>No search results found.</p>
</div>

<div *ngIf="MedicineListResult.length > 0" class="container">
    <table class="prices">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Discount</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medicine of MedicineListResult">
                <td>{{ medicine.medicineName }}</td>
                <td>${{ medicine.price }}</td>

                <td>${{ medicine.price }}</td>
                <td>
                    <button class="discount-button" *ngIf="medicine.medicineDiscount > 0">
              Save ${{ medicine.medicineDiscount }}
            </button>


                </td>
            </tr>
        </tbody>
    </table>
</div>