<div class="container">
    <table class="prices">
        <thead>
            <tr>
                <th>Pharmacy</th>
                <th>Price</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let retailer of retailers">
                <td>{{ retailer.name }}</td>
                <td>{{ retailer.price }}</td>
                <td *ngIf="retailer.discountAmount">
                    <button class="discount-button"> {{ retailer.discountAmount }} Discount</button>
                </td>
                <td *ngIf="!retailer.discountAmount">-</td>
            </tr>
        </tbody>
    </table>
</div>